.container {
  font-family: "K2D", sans-serif;
  font-weight: 200;
  font-style: normal;
}

h1 {
  font-family: "Barriecito", system-ui;
  font-weight: 400;
  font-style: normal;
  color: white !important;
}

h2 {
  font-family: "Bayon", sans-serif;
  font-weight: 400;
  font-style: normal;
}
h3{
  font-family: "Bayon", sans-serif;
  font-style: normal;
}

h4{
  font-family: "Bayon", sans-serif;
  font-style: normal;
}

p {
  font-family: "Fira Mono", monospace;
  font-weight: 400;
  font-style: normal;
}

a {
  font-family: "Fira Mono", monospace;
  font-weight: 400;
  font-style: normal;
  color: black !important;
}

a:hover {
  background-color: white;
}

.zineScroll {
  display: flex;
  overflow-x: scroll;
  overflow-y: hidden;
  padding: 20px;
}

.profilePic {
  max-width: 300px;
  max-height: 300px;
  width: 100%;
  margin: 0;
}

.featuredPic {
  width: 275px;
  height: 400px;
  object-fit: cover;
  border: 3px solid #fff626;
}

.btn {
  font-family: "Bayon", sans-serif !important;
  font-weight: 400;
  font-style: normal;
  font-size: 20px !important;
  width: 150px;
  height: 50px;
  color:black !important;
}

.btn.btn-primary {
  background-color: #fff626;
  border-radius: 25px;
  border-color: black;
}

.btn.btn-primary:hover {
  border: 3px solid #fff626;
  background-color: black;
  color: #fff626 !important;
  border-radius: 25px;
}

.btn.btn-primary:focus {
  border: 3px solid #fff626;
  background-color: black !important;
  color: #fff626 !important;
  border-radius: 25px;
  border-color: #fff626 !important;
}

.btn.btn-secondary {
  background-color: white;
  border: 3px solid black;
  border-radius: 25px;
}

.btn.btn-secondary:hover {
  background-color: black;
  color: white !important;
  border-radius: 25px;
}

.navCont {
  margin-left: 20px;
  justify-content: space-between;
  display: flex;
  width: 100%;
  margin-right: 20px;
  padding-top: 10px;
}

@media (max-width:991px) {
  .hideMeOnSmall {
    display: none !important;
  }
  .big-padding {
    padding: 10px;
  }
}

@media (min-width: 992px) {
  .big-padding {
  padding-top:1rem !important;
  padding-bottom:2rem !important; 
  margin-left:1rem !important;
}
}
