.card.zine1 {
    border:solid 3px #41403E;
    border-top-left-radius: 225px 15px;
    border-top-right-radius: 15px 225px;
    border-bottom-right-radius: 225px 15px;
    border-bottom-left-radius:15px 255px;
}

.card.zine2 {
    border:solid 3px #41403E;
    border-top-left-radius: 225px 10px;
    border-top-right-radius: 2px 200px;
    border-bottom-right-radius: 300px 10px;
    border-bottom-left-radius: 2px 255px;
}

.card.zine3 {
    border:solid 3px #41403E;
    border-top-left-radius: 225px 2px;
    border-top-right-radius: 10px 200px;
    border-bottom-right-radius: 300px 2px;
    border-bottom-left-radius: 10px 255px;
}